@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(52, 73, 94, 0.8), rgba(52, 73, 94, 0.8));
  padding: 16px 0;
  position: fixed;
}
.header__menu__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  max-width: 100%;
  border: 1px solid black;
  background: #FFFFFF;
  border-radius: 0px 40px 40px 0px;
  padding: 19px 74px 19px 19px;
  border: none;
}
.header__menu__logo__text > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #333333;
}
.header__menu__nav-bar {
  display: flex;
  align-items: center;
}
.header__menu__nav-bar > li {
  padding-left: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__menu__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu__btns--btn {
  width: 80px;
  max-width: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
}
.header__menu__btns--btn:hover {
  background: #2D9CDB;
}
.header__menu__btns--btn > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 0 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header__menu__btns--btn-two {
  padding-right: 20px;
}

@media screen and (max-width: 1325px) {
  .header__menu__nav-bar {
    display: none;
  }
  .header__menu {
    background: #FFFFFF;
  }
  .header__menu__btns--btn {
    border: 1px solid #318EB4;
  }
  .header__menu__btns--btn > p {
    color: #333333;
  }
  .header__menu__btns--btn:hover {
    background: rgb(179, 179, 242);
  }
}
@media screen and (max-width: 471px) {
  .header__menu__logo {
    width: 100px;
    max-width: 100%;
    margin-left: 21px;
  }
  .header__menu__logo > div {
    padding-left: 20px;
  }
  .header__menu__logo__text {
    display: none;
  }
  .header__menu__btns--btn {
    display: none;
  }
}
.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.header__bottom {
  background-image: url("../imgs/headerBack.png");
}

.header__bottom__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 135px;
}

.header__bottom__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.header__bottom__text > p {
  width: 546px;
  max-width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.header__bottom__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.header__bottom__btns--btn {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  padding: 15px 32px;
  margin-left: 20px;
}
.header__bottom__btns--btn:hover {
  background: #2D9CDB;
}
.header__bottom__btns--btn > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__bottom__company-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 144px;
  background: #FFFFFF;
  padding: 41px 0 18px 0;
  border-radius: 10px 10px 0 0;
}
.header__bottom__company-logo_vektor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bottom__company-logo_vektor:hover {
  background: #EB5757;
}
.header__bottom__company-logo-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header__bottom__company-logo-imgs > img {
  padding-left: 58px;
}

@media screen and (max-width: 768px) {
  .header__bottom__title {
    line-height: 44px;
    font-size: 36px;
  }
}
@media screen and (max-width: 455px) {
  .header__bottom__title {
    font-size: 28px;
    line-height: 30px;
  }
  .header__bottom__btns {
    flex-direction: column;
    margin: 0 10px;
  }
  .header__bottom__btns--btn {
    width: 100%;
    margin-top: 16px;
    text-align: center;
  }
}
.main-start {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F7F9FB 100%);
  padding-bottom: 80px;
}

.main-contanier {
  width: 1160px;
  max-width: 100%;
  margin: 0 auto;
}

.main__title {
  margin-top: 80px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.boxs {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.boxs_box {
  background: #FFFFFF;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 24px 97px 20px 25px;
}
.boxs_box_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-top: 17px;
}
.boxs_box_text {
  width: 228px;
  max-width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-top: 8px;
}
.boxs .boxs_box__three {
  background: #FFFFFF;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 24px 97px 20px 25px;
}
.boxs .boxs_box_title_three {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-top: 17px;
}
.boxs .boxs_box_text_three {
  width: 228px;
  max-width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-top: 8px;
}

@media screen and (max-width: 768px) {
  .main__title {
    font-size: 24px;
    line-height: 28px;
  }
  .boxs {
    margin-top: 32px;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .boxs_box__three {
    width: 100%;
    margin-top: 25px;
  }
  .boxs .boxs_box_text_three {
    width: 524px;
    max-width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .boxs_box {
    width: 100%;
    margin-top: 25px;
  }
  .boxs_box_text {
    width: 524px;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .main__title {
    width: 300px;
    max-width: 100%;
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
  }
}
.konstruktor {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
}
.konstruktor_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #333333;
  margin-top: 80px;
}
.konstruktor_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-top: 24px;
}
.konstruktor_text_bottom {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  margin-top: 8px;
}

.konstruktor__imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  margin-top: 32px;
}

.konstruktor__strelka {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.konstruktor__strelka:hover {
  background: #EB5757;
}

@media screen and (max-width: 768px) {
  .konstruktor_title {
    font-size: 24px;
    line-height: 28px;
  }
  .konstruktor_text {
    font-size: 16px;
    line-height: 20px;
  }
  .konstruktor_text_bottom {
    font-size: 14px;
    line-height: 20px;
  }
  .konstruktor__imgs__one {
    display: none;
  }
}
@media screen and (max-width: 503px) {
  .konstruktor__strelka {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .konstruktor_title {
    font-size: 20px;
    line-height: 24px;
  }
  .konstruktor_text {
    font-size: 14px;
    line-height: 17px;
  }
  .konstruktor_text_bottom {
    font-size: 14px;
    line-height: 20px;
  }
}
.cervice {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #F4F5F9 32.81%, #F7F7FA 67.71%, rgba(255, 255, 255, 0.5) 100%), #F4F5F9;
  padding: 80px 0;
}

.cervice__boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}
.cervice__boxs__box {
  padding: 26px 26px;
  background: #FFFFFF;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.cervise__title {
  margin: 0 auto;
  margin-top: 160px;
}
.cervise__title > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.cervice__boxs__box__title > h4 {
  width: 304px;
  max-width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.cervice__boxs__box__title > ul > li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-top: 16px;
}

.cervice__boxs__box__three {
  padding: 26px 26px;
  background: #FFFFFF;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.cervice__boxs__box__title__three > h4 {
  width: 304px;
  max-width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.cervice__boxs__box__title__three > ul > li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-top: 16px;
}

@media screen and (max-width: 769px) {
  .cervice__boxs__box__three {
    display: flex;
    width: 100%;
    margin-top: 24px;
  }
  .cervise__title > h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 740px) {
  .cervice__boxs__box__three {
    flex-direction: column;
    width: 359px;
    max-width: 100%;
    overflow: hidden;
  }
  .cervice__boxs {
    flex-direction: column;
    align-items: center;
  }
  .cervice__boxs__box {
    margin-top: 24px;
  }
}
@media screen and (max-width: 376px) {
  .cervise__title > h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.cervice__bottom__title {
  margin: 0 auto;
}
.cervice__bottom__title > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.cervice__bottom__boxs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cervice__bottom__boxs__box {
  width: 540px;
  max-width: 100%;
  margin-top: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.1);
  border-radius: 9px;
}

.cervice__bottom__boxs__box_text {
  padding-left: 48px;
  padding-top: 40px;
  width: 464px;
  max-width: 100%;
}
.cervice__bottom__boxs__box_text > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
.cervice__bottom__boxs__box_text > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-top: 16px;
}

.cervice__bottom__boxs__box_btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 48px;
}
.cervice__bottom__boxs__box_btn > div {
  padding: 18px 29px;
  border: 1px solid #4F4F4F;
  border-radius: 4px;
  display: none;
}
.cervice__bottom__boxs__box_btn > div > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}
.cervice__bottom__boxs__box_btn > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 80px;
  line-height: 98px;
  text-align: right;
  color: #2B2B2B;
  opacity: 0.1;
  padding-right: 16px;
}

@media screen and (max-width: 769px) {
  .cervice__bottom__title > h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .cervice__bottom__boxs__box_text > h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    color: #333333;
  }
  .cervice__bottom__boxs__box_btn {
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    align-items: center;
  }
  .cervice__bottom__boxs__box_btn > div {
    padding: 18px 26px;
    border: 1px solid #4F4F4F;
    border-radius: 4px;
    display: none;
    display: block;
  }
  .cervice__bottom__boxs__box_btn > div:hover {
    background: #318EB4;
  }
  .cervice__bottom__boxs__box {
    width: 354px;
    max-width: 100%;
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.1);
    border-radius: 9px;
  }
}
@media screen and (max-width: 708px) {
  .cervice__bottom__boxs {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 376px) {
  .cervice__bottom__title > h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.cervice__bottom__last-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.1);
  border-radius: 9px;
  margin-top: 40px;
  padding: 40px 33px 40px 48px;
}
.cervice__bottom__last-box__texts > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
.cervice__bottom__last-box__texts > p {
  width: 426px;
  max-width: 100%;
  margin-top: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.cervice__bottom__last-box__btn {
  width: 223px;
  max-width: 100%;
  padding: 13px 42px;
  border: 1px solid #4F4F4F;
  border-radius: 4px;
  margin-top: 68px;
}
.cervice__bottom__last-box__btn:hover {
  background: #2D9CDB;
}
.cervice__bottom__last-box__btn > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

.cervice__bottom__last-box__right__card {
  display: flex;
  margin-top: 20px;
}
.cervice__bottom__last-box__right__card > p {
  margin-left: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 146.28%;
  color: #2B2B2B;
}
.cervice__bottom__last-box__right__card > p > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #EF4744;
}
.cervice__bottom__last-box__right__card .cervice__bottom__last-box__right__card_text {
  margin-left: 24px;
}
.cervice__bottom__last-box__right__card .cervice__bottom__last-box__right__card_text > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.cervice__bottom__last-box__right__card .cervice__bottom__last-box__right__card_text > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 146.28%;
  color: #2B2B2B;
}
.cervice__bottom__last-box__right__card .cervice__bottom__last-box__right__card_text > p > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #EF4744;
}

@media screen and (max-width: 920px) {
  .cervice__bottom__last-box {
    align-items: flex-start;
    flex-direction: column;
  }
  .cervice__bottom__last-box__btn {
    margin-top: 32px;
  }
  .cervice__bottom__last-box__texts > p {
    width: 100%;
  }
}
@media screen and (max-width: 478px) {
  .cervice__bottom__last-box__right__card > p {
    width: 80%;
  }
  .cervice__bottom__last-box__right__card_text > p {
    width: 80%;
  }
}
.cervice__numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #FFFFFF;
  margin-top: 48px;
}

.number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #333333;
}
.number > strong {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 40px;
  text-align: center;
  color: #EB5757;
}

.text {
  width: 200px;
  max-width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

@media screen and (max-width: 400px) {
  .text {
    width: 140px;
    max-width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
  .number {
    font-size: 44px;
  }
}
.clients {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #F4F5F9 32.81%, #F7F7FA 67.71%, rgba(255, 255, 255, 0.5) 100%), #F4F5F9;
  padding-bottom: 80px;
}
.clients__container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  gap: 40px;
}
.clients__container_h2 {
  font-size: 36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #333333;
  padding-top: 80px;
}
.clients__container_btn {
  width: 200px;
  height: 48px;
  border: 1px solid #4F4F4F;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-transform: uppercase;
  border: none;
}
.clients__container_btn:hover {
  background-color: #2D9CDB;
  border-color: #2D9CDB;
  color: #fff;
}
.clients__container_btn:active {
  color: #2D9CDB;
  background-color: initial;
  border: 5px double;
}
.clients__container_box {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  background: #FAFAFA;
  border-radius: 9px;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.1);
  padding: 30px 80px;
  overflow: auto;
  gap: 40px;
}
.clients__container_box::-webkit-scrollbar {
  height: 3px;
}
.clients__container_box::-webkit-scrollbar-thumb {
  background: #2D9CDB;
  border-radius: 10px;
}
.clients__container_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #EB5757;
  border-radius: 10px;
}
.clients__container_box::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.clients__container_box_card {
  width: 340px;
  display: grid;
  align-content: space-between;
  align-content: flex-start;
  gap: 50px;
}
.clients__container_box_card_head {
  display: grid;
  gap: 15px;
  position: relative;
}
.clients__container_box_card_head::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.6352941176);
}
.clients__container_box_card_head:hover::before {
  display: none;
}
.clients__container_box_card_head_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients__container_box_card_head_form .clients_card_form-label {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.clients__container_box_card_head_form .clients_card_form-input {
  transform: scale(2.5);
}
.clients__container_box_card_head-h {
  font-weight: 400;
  font-size: 48px;
  color: #EB5757;
}
.clients__container_box_card_head-date {
  display: flex;
  gap: 32px;
}
.clients__container_box_card_head-date .date_items {
  color: #D3D0C7;
  font-weight: 900;
}
.clients__container_box_card_head-date .date_items:hover {
  list-style-type: disc;
  color: #2D9CDB;
}
.clients__container_box_card_ol {
  display: grid;
  gap: 20px;
}
.clients__container_box_card_ol_li {
  display: flex;
  gap: 16px;
  font-weight: 500;
}
.clients__container_box_card_ol_li span {
  font-weight: 900;
  color: #2D9CDB;
}
.clients__container_box_card-btn {
  width: 200px;
  height: 48px;
  border: 1px solid #4F4F4F;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-transform: uppercase;
  border: none;
}
.clients__container_box_card-btn:hover {
  background-color: #2D9CDB;
  border-color: #2D9CDB;
  color: #fff;
}
.clients__container_box_card-btn:active {
  color: #2D9CDB;
  background-color: initial;
  border: 5px double;
}

@media screen and (max-width: 768px) {
  .clients__container_h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .clients__container_h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.clients__bottom__title {
  width: 700px;
  max-width: 100%;
  margin: 80px auto;
}
.clients__bottom__title > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}
.clients__bottom__title > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-top: 24px;
}

.clients__bottom__boxs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.clients__bottom__boxs__box_one > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.clients__bottom__boxs__box_one > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B;
  width: 319px;
  max-width: 100%;
}

.clients__bottom__boxs__box_two > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.clients__bottom__boxs__box_two > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B;
  width: 319px;
  max-width: 100%;
}

@media screen and (max-width: 1287px) {
  .clients__bottom__boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .clients__bottom__title > h2 {
    font-size: 24px;
    line-height: 24px;
  }
  .clients__bottom__title > p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 375px) {
  .clients__bottom__title > h2 {
    font-size: 28px;
  }
  .clients__bottom__title > p {
    font-size: 14px;
  }
}
.client__bottom__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}
.client__bottom__btns > div {
  padding: 16px 37px;
  box-shadow: 0px 4px 12px rgba(0, 95, 137, 0.15);
  border-radius: 4px;
  margin-left: 20px;
}
.client__bottom__btns > div > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.2);
}
.client__bottom__btns > div:hover {
  background: #2D9CDB;
}
.client__bottom__btns > div:hover > a {
  color: #FFFFFF;
}

@media screen and (max-width: 515px) {
  .client__bottom__btns {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: inherit;
    margin-top: 72px;
    flex-direction: column;
    margin: 0 auto;
  }
  .client__bottom__btns > div {
    margin-top: 25px;
  }
}
.otziv {
  margin-top: 160px;
}
.otziv > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #333333;
}

.otziv__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.otziv__cards__card {
  width: 540px;
  max-width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(51, 51, 51, 0.1);
  border-radius: 9px;
  padding: 24px;
}
.otziv__cards__card > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  padding-top: 24px;
}

.otziv__cards__card__two {
  width: 540px;
  max-width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(51, 51, 51, 0.1);
  border-radius: 9px;
  padding: 24px;
}
.otziv__cards__card__two > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  padding-top: 24px;
}

.otziv__cards__card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.otziv__cards__card__title > div > h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}
.otziv__cards__card__title > div > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #686868;
  padding-top: 32px;
}

.otziv__btn {
  width: 223px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 95, 137, 0.15);
  border-radius: 4px;
  padding: 16px 51px;
  margin-top: 72px;
  margin: 72px auto;
}
.otziv__btn:hover {
  background: #2D9CDB;
}
.otziv__btn:hover > a {
  color: #FFFFFF;
}
.otziv__btn > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
}

@media screen and (max-width: 1080px) {
  .otziv__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .otziv__cards__card {
    margin-top: 30px;
  }
  .otziv__cards__card__two {
    margin-top: 30px;
  }
}
@media screen and (max-width: 769px) {
  .otziv__cards__card__two {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .otziv__cards__card__title > div > h4 {
    font-size: 16px;
    line-height: 20px;
  }
}
footer {
  background: #34495E;
  padding-top: 56px;
}

.footer__complect {
  display: flex;
  justify-content: space-around;
}

.footer__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 32px;
  margin-left: 20px;
}

.footer_list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.footer_list > li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #F2F2F2;
  margin-left: 20px;
  margin-top: 9px;
  border-right: 1px solid #E0E0E0;
}

.footer__container_link {
  display: grid;
  align-content: start;
  gap: 40px;
}

.footer__container_link-form {
  display: grid;
  gap: 20px;
}

.footer__container_link-form .footer_form-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__container_link-form-input {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__container_link-form-input .footer_form-input {
  width: 174px;
  height: 44px;
  background: #253544;
  border-radius: 2px;
  text-indent: 12px;
  caret-color: #fff;
  color: #fff;
  border: none;
}

.footer__container_link-form-input .footer_form-btn {
  width: 44px;
  height: 44px;
  background-color: #5199FF;
  border: none;
  padding: 5px;
}

.footer__container_link-icon {
  display: grid;
  gap: 20px;
}

.footer__container_link-icon .footer_link-h {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__container_link-icon .footer_link-logo {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 769px) {
  .footer__complect {
    flex-direction: column;
  }
  .footer__container_link {
    padding: 20px;
    display: flex;
  }
}
@media screen and (max-width: 534px) {
  .footer__container_link {
    display: flex;
    flex-direction: column;
  }
  .footer_list {
    display: none;
  }
  .footer__title {
    border-bottom: 1px solid #2C435A;
  }
}/*# sourceMappingURL=main.css.map */